<launch>
    <!-- 将 Urdf 文件的内容加载到参数服务器 -->
    <param name="robot_description" command="$(find xacro)/xacro $(find test_car)/urdf/my_car_union.xacro" />
    <!-- 启动 gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find test_car)/my_home.world" />
    </include>


    <!-- 在 gazebo 中显示机器人模型 -->
    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model mycar -param robot_description"  />


    <!--node name="twist_keyboard" pkg="teleop_twist_keyboard"
          type="teleop_twist_keyboard.py" output="screen" /-->

        <!-- 启动 rviz -->
    <!--node pkg="rviz" type="rviz" name="rviz" args="-d /home/tan/lerning_ws/src/test_car/rviz/my_car.rviz"/-->

    <!-- 关节以及机器人状态发布节点 -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    
</launch>


